<!DOCTYPE html>
<html>

<head>
    <title>Local osu! server</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
    </style>
</head>

<body>

    <h1 class="welcome">Welcome!</h1>
    <a href="{{ settings.BASE_URL }}/login"><button class="centerobjects main_button">Login</button></a>
    <button class="centerobjects main_button">Settings</button>
    <button class="centerobjects main_button">Quit</button>

</body>

</html>